<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite">

    <parameter name="username" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    <parameter name="invalidUser" value="standard_Invaliduser"/>
    <parameter name="invalidPwd" value="secret_Invalidpwd"/>

    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>
